<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
        <li><a href="https://www.facebook.com/DemocracyOSfrance"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/democracyos_fr"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCeHjr4rj-YN-THvXAqJL5hg"><i class="fa fa-youtube"></i></a></li>
        <li><a href="https://medium.com/@DemocracyOS_FR"><i class="fa fa-medium"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-8 text-right">
        <p>DemocracyOs France</p>
      </div>
    </div>
  </div>
</div>