<h2>Comment nous soutenir ? </h2>

Nous sommes déjà opérationnels et extrêmement motivés, mais notre association est encore très jeune et aux moyens limités.

DemocracyOS France est une association-loi 1901 ouverte aux adhésions. N’hésitez pas à nous contacter si la perspective de renforcer nos troupes vous intéresse, que vous comptiez devenir ensuite impliqué activement ou non.

lien vers pdf adhésion à créer

Nos besoins sont variés: particulièrement importants en terme de développement afin de faire évoluer l’application, nous recherchons aussi des talents dans des domaines aussi divers que le graphisme/design, le droit, le lobbying, la communication et RP, la traduction, le management de projet… Au-delà de ces compétences, la simple expertise citoyenne que chacun de nous porte a le potentiel de renforcer notre association.

DemocracyOS France est une association formée de bénévoles dont la seule ressource est actuellement l’adhésion des membres. Nous recherchons activement un moyen d’obtenir des financements plus importants afin de renforcer notre action.


Enfin, si vous avez un blog ou un média, n’hésitez pas à parler un peu de nous. Notre combat s’enrichit du partage et de l’échange.

<h2>Ils ont fait le choix de nous mettre en avant:</h2>

http://coreight.com/content/democracy-os
http://www.makery.info/2015/06/15/vous-prendrez-bien-un-peu-de-democratie-liquide/
http://www.democratiemiseajour.fr/faire-emerger-la-democratie-participative-


Toutes les énergies sont les bienvenues
pour faire entrer la France dans la démocratie du XXIe siècle

lien youtube pia
