<div class="padded-top">
  <div class="container">
    <div class="col-xs-12">
      <h2>DemocracyOS est l’application open-source de prise de décision collaborative la plus utilisée dans le monde.</h2>
      <p>Son but est de favoriser la participation de tous à la fabrique de décisions politiques, à l'heure où internet a changé presque tous les aspects de notre vie quotidienne... sauf le fonctionnement de nos démocraties.</p>
      <p>Inventée en 2012 par des développeurs et politologues en Argentine, elle est reprise depuis à travers le monde: Mexique, États-Unis, Espagne... et désormais en France.</p>
      <p>L’application DemocracyOS est indépendante, entièrement gratuite, facile d’utilisation, et modifiable. Son code source est ouvert à tous.</p>
    </div>
  </div>
</div>