<div class="padded-top">
  <div class="container">
    <div class="col-xs-12">
      <h2>DemocracyOS est l’application open-source de prise de décision collaborative la plus utilisée dans le monde.</h2>
      <p>Son but est de favoriser la participation de tous à la fabrique de décisions politiques, à l'heure où internet a changé presque tous les aspects de notre vie quotidienne... sauf le fonctionnement de nos démocraties.</p>
      <p>Inventée en 2012 par des développeurs et politologues en Argentine, elle est reprise depuis à travers le monde: Mexique, États-Unis, Espagne... et désormais en France.</p>
      <p>L’application DemocracyOS est indépendante, entièrement gratuite, facile d’utilisation, et modifiable. Son code source est ouvert à tous.</p>
      DemocracyOS est l’application open source de prise de décision collaborative la plus utilisée dans le monde.

      <p>
      lien site officiel: democracyos.org
      lien implémentations: democracyos.org/democracies
      </p>
      <p>
      DemocracyOS est une application conçue pour offrir les fonctionnalités nécessaires lors de tout débat, dans une interface simple d’utilisation:
      </p>
      <p>
      S’informer - Voter - Débattre
      </p>
      <p>
      lien notre tutoriel: https://medium.com/@DemocracyOS_FR/comment-fonctionne-notre-plateforme-93773281170f
      </p>
      <p>
      DemocracyOS France développe ses propres plateformes pour héberger des débats citoyens tout en démontrant les possibilités offertes par l’outil:
      </p>
      <p>
      liens: college.democracyos.eu + pjlr.democracyos.eu
      </p>
    </div>
  </div>
</div>